{% extends "__base_template.html" %}

{% block content %}
<center><h2>АИС "Электронные истории болезни"</h2></center>
{% if auth_user.position == "Администратор" %}
<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title">Работа с пользователями</h5>
        <a href="/user" class="card-link">Все пользователи</a>
        <a href="/user/create" class="card-link">Создать пользователя</a>
    </div>
</div>
{% endif %}
<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title">Новости</h5>
        {% if last_news | length > 0 %}
        <ul class="card-text">
            {% for news in last_news %}
            <li><a href="/news/{{ news.id }}">{{ news.title }}</a></li>
            {% endfor %}
        </ul>
        <a href="/news" class="card-link">Все новости</a>
        {% else %}
        <div class="card-text">
            Пока нет новостей
        </div>
        {% if auth_user.position == "Администратор" %}
        <a href="/news/create" class="card-link">Добавить новость</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}