{% extends '__base_template.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Пациенты</h5>
        {% if patient_list | length > 0 %}
        <ul class="card-text">
            {% for patient in patient_list %}
            <li><a href="/record/{{ patient.id }}">{{ patient.name }} ({{ patient.id }}, бум. {{ patient.cardno }})
                {% if auth_user.position == "Администратор" %}
                <a href="/patient/delete/{{ patient.id }}">(удалить)</a>
                {% endif %}</li>
            {% endfor %}
            {% if auth_user %}
                <br><br>
            <a href="/patient/create">Создать пациента</a>
            {% endif %}
        </ul>
        {% else %}
        <div class="card-title">
            Список пациентов пуст
        </div>
        {% if auth_user %}
                <br><br>
            <a href="/patient/create">Создать запись</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}